:root

{

  --body-width :min(100%,480px);

  --body-margin : auto auto auto auto;

}

*

{

  margin:0;

  padding :0;

  box-sizing: border-box;

}

body {

    font-size: 15pt;

    width:var(--body-width); /*responsive for mobile*/

    min-height : 100vh;

    margin:var(--body-margin);

    transition : all .2s ease-in-out ;

    background: #020202;

}

header

{

  width:var(--body-width); /*responsive for mobile*/ 

 position : fixed ;

 top: 0 ;

 left : 0 ;

 padding :10px 10px;

 margin:var(--body-margin);

 background:#191C25;

 box-shadow : 0 2px 7px rgba(3,3,3,.4);

 display:flex ;

 justify-content : space-around ;

 align-items :center ;

 z-index :30;

}

header .logo 

{

  display :inline-block ;

  width : 40px;

  height :40px ;

  border-radius : 15px 7px 15px;

  display:flex ;

 justify-content : center ;

 align-items :center ;

 background : #550006;

}

header .logo a 

{

  text-align: center ;

  text-decoration: none ;

  font-size :1.5em ;

  color :#FFFFFF;

  font-family: 'Zen Dots', cursive;

}

header h1 

{

  font-size :1em ;

  color: #FFFFFF;

  font-family: 'Zen Dots', cursive;

}

header  .shopping_cart  button 

{

  padding :5px ;

  display :inline-block ;

  font-size :1.5em ;

  background : transparent ;

  border :1px solid #F7F5F4 ;

  border-radius :10px;

  outline :none ;

  position :relative ;

  color: #FFFFFF;

}

.shopping_cart  button::after

{

  content: attr(data-count);

  position:absolute ;

  width:25px;

  height:25px;

  top: -15px;

  right :-5px;

  background: #550006;

  border-radius :50%;

  color :whitesmoke ;

  text-align :center ;

  font-size :.4em;

  line-height :2;

}

main 

{

  padding-bottom :70px;

}

.section_1

{

  width: var(--body-width);

  height:70vh;

  margin:25% auto 0;

  display:flex ;

 justify-content : space-between ;

 flex-direction :column ;

 align-items :center ;

}

.section_1  h2 

{

  font-size :.8em ;

  color: #FFFFFF ;

  font-family: 'Montserrat', sans-serif;

}

.section_1 .expend_img_container

{

  width:100%;

  height :80%;

  margin: auto  ;

  display:flex ;

 justify-content : center ;

 flex-direction :column ;

 align-items :center ;

}

.section_1 .expend_img 

{

  margin: auto ;

  width: 80%;

  height :80%;

}

.expend_img  img 

{

  width: 100%;

  height :100%;

  object-fit :cover ;

}

.expend_img::after

{

  content: "$150";

  position :absolute ;

  width :70px;

  height :20px;

  right :40px;

  background : #EF91A1;

 text-align :center ;

 padding :5px ;

 color: whitesmoke ;

}

.expend_img_container  .img_section 

{

  width: 100%;

  display :flex ;

  justify-content:center ;

  align-items: center ;

  height :20%;

  position :relative ;

}

.img_section  img 

{

  width:70px;

  height:75px;

  object-fit :cover ;

  margin :3px;

  border:1px solid #E9ECF4 ;

  transition : scale .2s ease-in-out ;

}

.img_section  img.active_section 

{

    border :1px solid #550006;

    transform : scale(1.3);

    transition : scale .2s ease-in-out ;

    background : #1F1F1F;

    border-radius:5px; 

    box-shadow : 0 0 7px rgba(3,3,3,.2);

}

.section_2 

{

  width: var(--body-width);

  padding :15px ;

}

.snearker_rate 

{

  display: flex ;

  justify-content :center ;

  align-items :flex-start ;

  flex-direction :column ;

}

.snearker_rate h3 

{

 font-family: 'Montserrat', sans-serif;

 color: #FFFFFF;

}

.rate_stars span 

{

  display:inline-block ;

  color :#C26575;

}

.star{

  font-variation-settings:

    'FILL'1,

    'wght'400,

    'GRAD'0,

    'opsz'48

}

.select_container 

{

  width: 100%;

  display :flex ;

  justify-content :center ;

  align-items :center ;

}

.select_container  select

{

  border :1px solid transparent;

  color : #FFFFFF;

  outline :none ;

  padding :10px ;

  background :transparent ;

  border-radius :5px ;

  width :50%;

  font-size:1em ;

  font-weight:300 ;

  margin:5px ;

  font-family: 'Montserrat', sans-serif;

}

.select_quatity 

{

  width:50%;

  height:45px;

  text-align :center ;

  border-radius :5px ;

  background : rgba(131,131,146,.2);

  border :1px solid rgb(241, 85, 76,.5);

  color:#FFFFFF;

}

.select_quatity button 

{

  display: inline-block ;

  width :50px;

  height :30px;

  font-size :1.3em ;

  border :1px solid #E9ECF4 ;

  background : #550006;

  outline :none ;

  margin :3px ;

  color :whitesmoke ;

}

.select_quatity button.disabled

{

  pointer-events: none;

}

.shareBtn 

{

  padding:10px 10px ;

  margin:10px auto 0 ;

  background : #550006;

  border:1px solid transparent ;

  color: whitesmoke ;

  font-family: 'Montserrat', sans-serif;

  font-size:.7em ;

  font-weight :700 ;

  border-radius:5px ;

  outline: none ;

}

.testimonials_container 

{

  width: var(--body-width);

  text-align: center ;

  overflow :hidden ;

  margin : 10% auto 0 ;

}

.testimonials_container  h4 

{

  padding :10px ;

  color : #FFFFFF ;

  font-size: 1em ;

  font-family: 'Montserrat', sans-serif;

}

.testimonials_wrapper 

{

  display: flex ;

  overflow :auto;

  scroll-snap-type: x mandatory;

  scroll-padding: 10px ;

  height : 270px;

}

.testimonials_wrapper  .testimonial 

{

  flex: 0 0 100%;

  scroll-snap-align :center;

  scroll-snap-stop: always ;

  display :flex ;

  justify-content :center ;

  align-items :center ;

  flex-direction :column ;

  background : #550006;

  padding :10px ;

  margin :5px ;

  box-shadow : 0 0 5px rgba(5,5,5,.2);

}

.testimonial .img 

{

  width :100px;

  height :100px;

  border-radius :50%;

  overflow :hidden ;

  margin-right: auto ;

  margin-bottom :30px;

}

.testimonial .img img 

{

  width:100%;

  height :100%;

  object-fit :cover ;

}

.testimonial .words 

{

  width :100%;

  text-align :center ;

  padding :5px ;

}

.words p 

{

  font-size:.9em;

  color:#FFFFFF;

  font-weight:700 ;

  font-family: 'Montserrat', sans-serif;

}

.testimonial span 

{

  padding: 10px ;

  color:#FFFFFF ;

  font-size :.6em;

  font-family: 'Montserrat', sans-serif;

}

.button_action_container 

{

  width:var(--body-width);

  position :fixed ;

  bottom: 0;

  z-index :20;

  margin:var(--body-margin);

 background:#191C25;

 box-shadow : 0 4px 5px rgba(3,3,3,.2);

 text-align :center ;

}

.button_action_container button 

{

  display: inline-block ;

  padding:10px 20px ;

  margin :10px ;

  background : #550006;

  border :1px solid transparent ;

  color :#FFFFFF;

  font-weight :700 ;

  font-size : 1em ;

  border-radius : 5px 7px 7px 8px;

  outline :none ;

  font-family: 'Montserrat', sans-serif;

}

